extends ../layouts/base.pug

block content
    h1(style="font-weight: normal; margin-bottom: 20px;")= `Дорогой(ая) ${name},`
    p(style="margin-bottom: 15px;") Добро пожаловать в мир элегантности и стиля! Меня зовут Елена Мелякина, я дизайнер-модельер, создающий платья, которые подчеркивают индивидуальность и дарят уверенность 🤍

    p(style="margin-bottom: 10px;") Теперь вы первыми будете узнавать:
    ul(style="margin-bottom: 20px; padding-left: 20px;")
        li(style="margin-bottom: 8px;") ✨ О новых коллекциях
        li(style="margin-bottom: 8px;") ✨ О предстоящих показах и событиях
        li(style="margin-bottom: 8px;") ✨ О специальных предложениях

    p(style="font-style: italic; margin-top: 25px;") Спасибо, что вы с нами!